{% extends 'srcView.html' %}
{% comment %} ############ {% endcomment %}

{% load static %}
{% block section %}
<h2>{{ object.name }}</h2>
<hr>
{% endblock section %}

{% block maincontent %}
<div>
    <table class="table table-danger">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Table</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for p in object_list %}
            <tr>
                <th scope="row">1</th>
                <td>{{p.name}}</td>
                <td>{{p.table}}</td>
                </td>
                <td>
                    <a type="button" class="btn btn-block btn-primary" href="{% url "client-update" p.id %}">Edit</a>
                    <a type="button" class="btn btn-block btn-danger" href="{% url "client-delete" p.id %}">Delete</a> 
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock maincontent %}"