{% extends 'srcView.html' %}
{% comment %} ############ {% endcomment %}

{% load static %}
{% block section %}
<h2>{{ object.name }}</h2>
<hr>
{% endblock section %}

{% block maincontent %}
<div>
    <h2 style="text-align: center; font-family: 'Edwardian Script ITC'; font-size: 90px;">Menú</h2>
</div>
<div>
    <table class="table table-danger">
        <thead>
            <tr class="bg-danger">
                <th style="width: 10px">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Price</th>
                <th style="width: 80px; text-align: center;">Photo</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for p in object_list %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <img src="{% static p.img.url %}" width="100%" height="225">
                    <div class="card-img-overlay">
                        <h5 class="card-title">{{p.name}}</h5>
                    </div>
                    <div class="card-body">
                      <p class="card-text">Un festín de ingredientes frescos y condimentos auténticos que deleitará tu paladar y te transportará a la calidez de la gastronomía caribeña.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <a type="button" class="btn btn-sm btn-outline-secondary" href="{% url "menu-update" p.id %}">Edit</a>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <tr>
                <th scope="row" style="vertical-align: middle">1</th>
                <td style="vertical-align: middle">{{p.name}}</td>
                <td style="vertical-align: middle">{{p.type}}</td>
                <td style="vertical-align: middle">
                    {{p.price}}
                </td>
                <td>
                    <a href="">
                        <img src="{% static p.img.url %}"
                            style="width:200px;height:170px" />
                    </a>
                </td>
                <td style="text-align: center; vertical-align: middle">
                    <a type="button" class="btn btn-block btn-primary btn-sm" href="{% url "menu-update" p.id %}">Edit</a>
                    <a type="button" class="btn btn-block btn-danger btn-sm" href="{% url "menu-delete" p.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock maincontent %}"